name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore DemoBackend

    - name: Build
      run: dotnet build DemoBackend --configuration Release --no-restore

    - name: Publish
      run: dotnet publish DemoBackend -c Release -o publish

    - name: Deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: demo-shop-api
        package: publish
